*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    background-color: #F3F4F6;
}
.menu {
    width: 15%;
    padding-top: 15.5px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #1F2937;
    position: sticky;
    left: 0;
    min-height: 100vh;
    min-width: 200px;
}
h3{
    font-weight: 700;
    font-style: Bold;
    font-size: 20.5px;
    line-height: 28px;
    vertical-align: middle;
    color: #FFFFFF;
    margin:16px 32px;
}

.list-link nav{
    width: 90%;
    height: 40px;
    margin-left: 24px;
    margin-bottom: 5px;

}
nav a{
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 19.1px;
    line-height: 40px;
    vertical-align: middle;
    color: #FFFFFF;

}

.choice-admin {
    width: 90%;
    height: 40px;
    border-radius: 4px;
}
#log-out a{
    color: #F87171;
}
main{
    width: 75%;
    margin-left: 24px;
}
h2{
    margin: 24px 0 16px;
}
.num-of-schedule {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.schedule {
    width: 468px;
    height: 120px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px #0000000F;

}
.name-of-schedule {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20.7px;
    line-height: 28px;
    vertical-align: middle;
    color: #000000;
    margin: 24px 24px 8px;
}
.count-schedule {
    font-weight: 700;
    font-style: Bold;
    font-size: 25.3px;
    line-height: 36px;
    vertical-align: middle;
    margin: 0 24px 24px;

}
.count-gym{
    color: #2563EB;
}
.count-yoga{
    color: #059669;
}
.count-zumba{
    color: #7C3AED;
}

form {
    background-color: #fff;
    margin-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #0000000F;
    padding: 24px;
}
form h3{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20.7px;
    line-height: 28px;
    vertical-align: middle;
    color: #000;
    margin: 0 0 16px 0;
}
.form{
    display: flex;
    gap:16px;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-input{
    display: flex;
    flex-direction: column;
}
input, select{
    width: 450px;
    height: 38px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #D1D5DB;
    padding: 0 12px;
}
label{
    font-weight: 500;
    font-style: Medium;
    font-size: 15.2px;
    line-height: 20px;
    vertical-align: middle;
    color: #374151;
}
td, th {
    padding: 10px 10px;    
    text-align: center;
}

table{
    width: 95%;
    margin: 0 auto;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 3px 0px #0000001A;
    border-radius: 8px;
}
thead{
    background-color: #E5E7EB;
}
th{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 17.6px;
    line-height: 24px;
    vertical-align: middle;
}
.tittle {
    display: flex;
    justify-content: space-between;
    margin: 32px 200px 24px;
}

tr{
    margin-bottom: 10px;
    transition: all 0.25s ease-in-out;
}
tr:hover{
    background-color: #adaeb1;
}
td{
    font-weight: 540;
    border-bottom:2px solid #E5E7EB ;
    
}

.edit-schedule {
    color: #4667E3;
    background: transparent;
    border: none;
    margin-right: 8px;
    font-weight: 540;
    
}
.delete-schedule {
    color: #CA564A;
    background: transparent;
    border: none;
    font-weight: 540;

}
title-form {
    font-weight: 700;
    font-size:x-large;
    margin: 36px 0 24px;
}
.input-schedule {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    color: #3A4150;
    padding-bottom: 5px;
}
input,  select{
    width: 338px;
    height: 32px;
    border-radius: 8px;
    border: 2px solid #E8E8E8;
    padding: 0 5px;
}
.action {
    text-align: right;
    margin-right: 28px;
}
.cancel {
    color: #fff;
    background-color: #6D727F;
    height: 32px;
    width: 48px;
    border: none;
    border-radius: 4px;
}
.confirm-edit, .confirm-add {
    color: #fff;
    background-color: #5B84EE;
    height: 32px;
    width: 48px;
    border: none;
    border-radius: 4px;
}
.hidden{
    display: none !important
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.form-add-schedule {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: white;
    padding: 24px;
    border-radius: 8px;
    min-width: 350px;
}
.modal-box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 450px;
    height: 200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 100; 
    transform: translate(-50%, -50%);
}
.modal-title {
  margin-bottom: 20px;
  font-size: 20px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.btn-gray {
  background: #adb5bd;
}

.btn-red {
  background: #fa5252;
}