*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 52px;
    background-color: #1F2937;
    z-index: 100;
    width: 100%;
}
.logo {
    font-weight: 700;
    font-style: Bold;
    font-size: 23.9px;
    line-height: 28px;
    vertical-align: middle;
    color: #fff;
}
.menu {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-style: Regular;
    font-size: 18.6px;
    line-height: 24px;
    vertical-align: middle;

}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
header nav{
    transition: all 0.25s ease-in-out;
}
header nav:hover{
    background-color: #ffcc33;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
}
footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 325px;
    margin-top: 100px;
}
.footer-top {
    display: flex;
    gap:40px; 
}

h3{
    font-weight: 700;
    font-style: Bold;
    font-size: 23.9px;
    line-height: 28px;
    vertical-align: middle;
    color: #fff;
    margin: -48px 0 26px;

}
.about p, .about span{
    font-weight: 400;
    font-style: Regular;
    font-size: 18.6px;
    line-height: 24px;
    vertical-align: middle;
    color: #9CA3AF;
}


.footer-link {
    display: flex;
    gap: 16px
}

.footer-bottom {
    margin-top: 32px;
    text-align: center;
    width: 80%;
    height: 57px;
    line-height: 114px;
    font-weight: 400;
    font-size: 18.6px;
    vertical-align: middle;
    color: #9CA3AF;
    border-top: 1px solid #374151;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
main{
    text-align: center;
    flex: 1;
}

td, th {
    padding: 10px 10px;    
}

table{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 3px 0px #0000001A;
    border-radius: 8px;

}
thead{
    background-color: #E5E7EB;
}
th{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 17.6px;
    line-height: 24px;
    vertical-align: middle;
}
.tittle {
    display: flex;
    justify-content: space-between;
    margin: 32px 200px 24px;
}

.add-schedule {
    width: 147.2px;
    height: 40px;
    border-radius: 6px;
    background: #3B82F6;
    font-weight: 500;
    font-style: Medium;
    font-size: 19.6px;
    line-height: 24px;
    vertical-align: middle;
    color: #fff;
    border: none;
}
tr{
    margin-bottom: 10px;
    transition: all 0.25s ease-in-out;
}
tr:hover{
    background-color: #adaeb1;
}
td{
    font-weight: 540;
    border-bottom:1px solid gray ;
    
}

.edit-schedule {
    color: #4667E3;
    background: transparent;
    border: none;
    margin-right: 8px;
    font-weight: 540;
    
}
.delete-schedule {
    color: #CA564A;
    background: transparent;
    border: none;
    font-weight: 540;

}


.title-form {
    font-weight: 700;
    font-size:x-large;
    margin: 36px 0 24px;
}
.input-schedule {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    color: #3A4150;
    padding-bottom: 5px;
}
input,  select{
    width: 338px;
    height: 32px;
    border-radius: 8px;
    border: 2px solid #E8E8E8;
    padding: 0 5px;
}
.action {
    text-align: right;
    margin-right: 28px;
}
.cancel {
    color: #fff;
    background-color: #6D727F;
    height: 32px;
    width: 48px;
    border: none;
    border-radius: 4px;
}
.confirm-edit, .confirm-add {
    color: #fff;
    background-color: #5B84EE;
    height: 32px;
    width: 48px;
    border: none;
    border-radius: 4px;
}
.hidden{
    display: none;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.form-add-schedule {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: white;
    padding: 24px;
    border-radius: 8px;
    min-width: 350px;
}
.valid{
    color: red;
    margin-top: 5px;
    margin-left: 5px;
}
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  pointer-events: none; 
}

.modal-box {
  pointer-events: all; 
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 450px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.confirm-message {
  margin-bottom: 20px;
  color: #333;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.btn-gray {
  background: #adb5bd;
}

.btn-red {
  background: #fa5252;
}

.modal-delete {
  display: flex;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn-pag{
    width: 40px;
    height: 40px;
    background-color: #5B84EE;
    color: #fff;
    border: none;
    border-radius: 4px;
}